<header class="bmx-homebar bmx-regbar" ng-controller="NavigationController">

  <!-- Brand + botón inicio (izquierda) -->
  <div class="bmx-homebar__brand">
    <a class="bmx-regbar__home-btn" href="../home/index.html" title="Volver al inicio">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <span class="bmx-homebar__title">Registro de Pacientes</span>
  </div>

  <!-- Extensiones de navegación (centro) -->
  <nav class="bmx-regbar__nav" ng-if="extensions.length > 0">
    <ul class="bmx-regbar__nav-list">
      <li ng-repeat="extension in ::extensions">
        <a class="bmx-regbar__nav-item"
           ng-click="goTo(extension.url)"
           accesskey="{{::extension.shortcutKey | translate}}">
          <i class="{{::extension.icon}}" aria-hidden="true"></i>
          <span class="bmx-regbar__nav-label" ng-bind-html="::extension | titleTranslate"></span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Controles (derecha) -->
  <div class="bmx-homebar__controls">

    <!-- Slot de impresión -->
    <div ui-view="headerExtension" class="bmx-regbar__print-slot"></div>

    <!-- Menú de usuario -->
    <div class="bmx-homebar__user" ng-class="{'bmx-homebar__user--open': userMenuOpen}">
      <button class="bmx-homebar__user-btn" ng-click="userMenuOpen = !userMenuOpen" type="button">
        <span class="bmx-homebar__user-avatar">
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
        <span class="bmx-homebar__user-name">{{currentUser.username}}</span>
        <i class="fa fa-chevron-down bmx-homebar__user-chevron" aria-hidden="true"></i>
      </button>

      <div class="bmx-homebar__user-overlay" ng-show="userMenuOpen" ng-click="userMenuOpen = false"></div>

      <div class="bmx-homebar__user-dropdown" ng-show="userMenuOpen">
        <div class="bmx-homebar__user-info">
          <span class="bmx-homebar__user-info-avatar">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </span>
          <div>
            <strong>{{currentUser.username}}</strong>
            <small ng-if="currentUser.currentLocation">{{currentUser.currentLocation | translate}}</small>
          </div>
        </div>
        <div class="bmx-homebar__user-divider"></div>
        <ul class="bmx-homebar__user-menu">
          <li>
            <a class="bmx-homebar__user-menu-item bmx-homebar__user-menu-item--danger" log-out>
              <i class="fa fa-power-off" aria-hidden="true"></i>
              <span>{{'REGISTRATION_LABEL_LOGOUT' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</header>
