<mfe-next-ui-patient-alergies-control ng-if="::(section.type === 'allergies')" host-data="allergyData" app-service="appService"></mfe-next-ui-patient-alergies-control>
<mfe-next-ui-form-display-control ng-if="::(section.type === 'formsV2React')" host-data="formData"  host-api="formApi"></mfe-next-ui-form-display-control>
<mfe-next-ui-vacunas-display-control ng-if="::(section.type === 'vacunasReact')" host-data="vacunasData" app-service="appService"></mfe-next-ui-vacunas-display-control>
<mfe-next-ui-ips-display-control
        ng-if="::(section.type === 'ipsReact')"
        host-data="ipsData"
        host-api="ipsApi"
        app-service="appService">
</mfe-next-ui-ips-display-control>
<mfe-next-ui-ips-icvp-display-control
        ng-if="::(section.type === 'ipsIcvpReact')"
        host-data="ipsData"
        host-api="ipsApi"
        app-service="appService">
</mfe-next-ui-ips-icvp-display-control>
