.laboratory-orders-container {
  padding: 1rem;
  background-color: #f4f4f4;
  height: 100%;

  .bx--data-table-container {
    width: 100%;
  }

  .header-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .order-details-modal {
    .bx--modal-container {
      max-width: 80%;
      width: 80%;
    }
  }

  .print-view {
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .laboratory-orders-container .print-view,
  .laboratory-orders-container .print-view * {
    visibility: visible;
    display: block;
  }
  .laboratory-orders-container .print-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
