<div class="modern-room-list">
    <!-- Sala general -->
    <div class="modern-room-box">
        <div class="clearfix total-details room-details">
            <div class="floor-header">{{'TOTAL_BEDS_KEY' | translate}} ( {{ ward.totalBeds }} )</div>
            <div class="bed-status">
                <span class="bed-available">({{ ward.totalBeds - ward.occupiedBeds }}) {{'AVAILABLE_SHORT' | translate}}</span>
                <span class="bed-occupied">({{ ward.occupiedBeds }}) {{'OCCUPIED_SHORT' | translate}}</span>
                <span class="bed-reserved">({{ ward.reservedBeds }}) {{'KEY_RESERVED_SHORT' | translate}}</span>
                <span class="bed-blocked">({{ ward.blockedBeds }}) {{'KEY_BLOCKED_SHORT' | translate}}</span>
            </div>
        </div>
    </div>

    <!-- Todas las salas -->
    <div class="modern-room-box" ng-repeat="room in ward.rooms" ng-class="{'room-selected': activeRoom == room.name}">
        <div class="clearfix room-details" ng-click="onSelectRoom(room.name)">
            <div class="floor-header">{{ room.name }} ( {{ room.totalBeds }} )</div>
            <div class="bed-status">
                <span class="bed-available">({{ room.availableBeds }}) {{ 'AVAILABLE_SHORT' | translate }}</span>
                <span class="bed-occupied">({{ room.occupiedBeds }}) {{ 'OCCUPIED_SHORT' | translate }}</span>
                <span class="bed-reserved">({{ room.reservedBeds }}) {{ 'KEY_RESERVED_SHORT' | translate }}</span>
                <span class="bed-blocked">({{ room.blockedBeds }}) {{ 'KEY_BLOCKED_SHORT' | translate }}</span>

            </div>
        </div>
    </div>
</div>

<!-- 🔽 Módulo de camas -->
<div id="bedLayout" ng-if="roomSelected">
    <room room="room"></room>
</div>