<section class="bmx-clin-search">

    <!-- ── Panel de búsqueda ──────────────────────────────────────────── -->
    <div class="bmx-clin-search__panel" ng-if="::search.searchTypes.length">

        <!-- Cabecera del panel con título y tabs -->
        <div class="bmx-clin-search__panel-header">
            <div class="bmx-clin-search__panel-title">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Lista de Pacientes</span>
            </div>
            <!-- Tabs de tipo de búsqueda -->
            <div class="bmx-clin-search__tabs tabs">
                <scrollable-tabs>
                    <ul>
                        <li class="tab-item" ng-repeat="searchType in search.searchTypes"
                            ng-class="{'tab-selected': search.isSelectedSearch(searchType)}">
                            <a href="" ng-click="search.switchSearchType(searchType)">
                                <span>{{::searchType | titleTranslate}}</span>
                                <span class="bmx-clin-search__tab-count"
                                      ng-if="search.showPatientCountOnSearchParameter(searchType)">
                                    ({{search.searchResults.length}})
                                </span>
                                <span class="bmx-clin-search__tab-count"
                                      ng-if="searchType.handler && !search.showPatientCountOnSearchParameter(searchType)"
                                      scheduler watch-on="search.searchParameter"
                                      refresh-time="searchType.refreshTime">
                                    ({{searchType.patientCount}})
                                </span>
                            </a>
                        </li>
                    </ul>
                </scrollable-tabs>
                <!-- Botón imprimir -->
                <button ng-if="search.searchType.showPrint"
                        class="bmx-clin-search__print-btn dialog-button-group"
                        ng-click="printPage()"
                        accesskey="{{'CLINICAL_PRINT_ACCESS_KEY' | translate}}"
                        title="{{'CLINICAL_PRINT_TRANSLATION_KEY' | translate}}"
                        type="button">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span class="hidden-mobile">{{'CLINICAL_PRINT_TRANSLATION_KEY' | translate}}</span>
                </button>
            </div>
        </div>

        <!-- Cuerpo del panel -->
        <div class="bmx-clin-search__content">
            <div class="patient-list-spinner"></div>

            <!-- Búsqueda por filtro (lookup) -->
            <div ng-if="search.isCurrentSearchLookUp() && !search.isCustomView()"
                 class="bmx-clin-search__filter-row">
                <form name="filterPatients" ng-submit="filterPatientsAndSubmit()">
                    <div class="bmx-clin-search__input-wrap">
                        <i class="fa fa-search bmx-clin-search__input-icon" aria-hidden="true"></i>
                        <input type="text"
                               id="patientIdentifier"
                               class="bmx-clin-search__input"
                               ng-model="::search.searchParameter"
                               focus-on="search.startPatientSearch"
                               ng-change="search.filterPatients()"
                               placeholder="{{'SEARCH_NAME_PLACEHOLDER_KEY' | translate: {primaryIdentifier: primaryIdentifier} }}"/>
                    </div>
                </form>
            </div>

            <!-- Búsqueda por nombre / ID -->
            <div ng-if="search.searchType && !search.isCurrentSearchLookUp() && !search.isCustomView()"
                 class="bmx-clin-search__filter-row">
                <form name="searchPatientForm" ng-submit="searchPatients()">
                    <div class="bmx-clin-search__input-wrap">
                        <i class="fa fa-search bmx-clin-search__input-icon" aria-hidden="true"></i>
                        <input type="text"
                               id="patientIdentifier"
                               class="bmx-clin-search__input"
                               ng-model="::search.searchParameter"
                               focus-on="search.startPatientSearch"
                               placeholder="{{'SEARCH_NAME_PLACEHOLDER_KEY' | translate: {primaryIdentifier: primaryIdentifier} }}"/>
                        <button type="submit"
                                class="bmx-clin-search__search-btn"
                                ng-disabled="!search.searchParameter">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span>{{'SEARCH_KEY' | translate}}</span>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Vista tabular -->
            <resize ng-if="search.isTabularView()"
                    search-results="search.searchResults"
                    visible-results="search.visiblePatients"
                    class="bmx-clin-resize">
                <div class="ward-details-container bmx-clin-search__table-wrap">
                    <table class="table patient-list-table bmx-clin-search__table">
                        <thead>
                        <tr>
                            <th ng-repeat="heading in activeHeaders"
                                ng-click="heading.sortInfo && sortVisiblePatientsBy(heading.sortInfo)"
                                ng-class="{'sortable': heading.sortInfo}">
                                <span>{{ ::heading.name | translate }}</span>
                                <span class="sortIcons" ng-if="sortColumn == heading.sortInfo">
                                    <i class="fa fa-caret-up" ng-show="reverseSort"></i>
                                    <i class="fa fa-caret-down" ng-show="!reverseSort"></i>
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in search.visiblePatients"
                            class="bmx-clin-search__table-row"
                            ng-click="forwardPatient(row)">
                            <td ng-repeat="heading in activeHeaders">
                                <a ng-if="::isHeadingOfLinkColumn(heading.name)"
                                   ng-click="forwardPatient(row, heading); $event.stopPropagation()">
                                    {{::row[heading.name]}}
                                </a>
                                <div ng-if="::isHeadingOfName(heading.name)"
                                     class="bmx-clin-search__name-cell">
                                    <!-- Avatar chip -->
                                    <span class="bmx-clin-search__avatar">
                                        {{::(row[heading.name] ? row[heading.name].charAt(0) : '?')}}
                                    </span>
                                    <span class="bmx-clin-search__cell-name">
                                        {{::(isHeadingOfDateColumn(heading.name) ? (row[heading.name] | bahmniDate) : row[heading.name])}}
                                    </span>
                                    <span class="icons-container">
                                        <i class="ipd-indication fa fa-bed"
                                           ng-if="::(row.hasBeenAdmitted===true||row.hasBeenAdmitted==='true')"></i>
                                        <i ng-if="::iconAttributeConfig.attrName && (row[iconAttributeConfig.attrName] === iconAttributeConfig.attrValue || (row.customAttribute ? row.customAttribute[iconAttributeConfig.attrName] === iconAttributeConfig.attrValue : false))"
                                           class="ipd-indication list-icon-style"
                                           ng-class="iconAttributeConfig.icon"
                                           ng-style="{{iconAttributeConfig.iconStyle}}"></i>
                                    </span>
                                </div>
                                <span ng-if="::(!isHeadingOfLinkColumn(heading.name) && !isHeadingOfName(heading.name))">
                                    {{::(isHeadingOfDateColumn(heading.name) ? (row[heading.name] | bahmniDate) : row[heading.name])}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </resize>

            <!-- Vista de tiles / tarjetas -->
            <resize ng-if="search.isTileView()"
                    search-results="search.searchResults"
                    visible-results="search.visiblePatients"
                    class="bmx-clin-resize">
                <ul class="bmx-clin-search__tiles">
                    <li ng-repeat="patient in search.visiblePatients"
                        class="bmx-clin-search__tile"
                        ng-click="forwardPatient(patient)">
                        <img class="bmx-clin-search__tile-img smallImages"
                             ng-src="{{::patient.image}}"
                             fallback-src="../images/blank-user.png">
                        <div class="bmx-clin-search__tile-name">{{::patient.name}}</div>
                        <div class="bmx-clin-search__tile-id"
                             ng-if="!preferExtraIdInSearchResults">{{::patient.identifier}}</div>
                        <div class="bmx-clin-search__tile-id"
                             ng-if="preferExtraIdInSearchResults">{{::patient.extraIdentifier}}</div>
                        <span class="icons-container">
                            <i class="ipd-indication fa fa-bed"
                               ng-if="::(patient.hasBeenAdmitted===true||patient.hasBeenAdmitted==='true')"></i>
                            <i ng-if="::iconAttributeConfig.attrName && patient[iconAttributeConfig.attrName] === iconAttributeConfig.attrValue || (patient.customAttribute ? patient.customAttribute[iconAttributeConfig.attrName] === iconAttributeConfig.attrValue : false)"
                               class="ipd-indication"
                               ng-class="iconAttributeConfig.icon"
                               ng-style="{{iconAttributeConfig.iconStyle}}"></i>
                        </span>
                    </li>
                </ul>
            </resize>

            <!-- Vista personalizada -->
            <div ng-if="search.isCustomView()">
                <div ng-include="search.searchType.templateUrl"></div>
            </div>

            <!-- Mensaje sin resultados -->
            <div class="bmx-clin-search__empty" ng-if="search.noResultsMessage">
                <i class="fa fa-search" aria-hidden="true"></i>
                <p>{{::search.noResultsMessage | translate}}</p>
            </div>

        </div><!-- /.bmx-clin-search__content -->
    </div><!-- /.bmx-clin-search__panel -->

</section>
